body {
    /* background: url('vac.jpg') no-repeat center center fixed; */
    background-color: #C9CCD5;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    
  }

.info{
  margin-left:28em;
  margin-top:2rem;
  margin-bottom: 2rem;
  background-color: #22577E;
  color:aliceblue;
  padding:1rem;
  width:30%;
}

  #toTopBtn {
    position: fixed;
   bottom: 26px;
   right: 39px;
   z-index: 98;
   padding: 21px;
   background-color: #8998b1;
   border-radius: 25%;
  }
  
  .js .cd-top--fade-out {
   opacity: .5;
  }
  
  .js .cd-top--is-visible {
   visibility: visible;
   opacity: 1;
  }
  
  .js .cd-top {
   visibility: hidden;
   opacity: 0;
   transition: opacity .3s,visibility .3s,background-color .3s;
  }
  
  .cd-top {
   position: fixed;
   bottom: 20px;
   bottom: var(--cd-back-to-top-margin);
   right: 20px;
   right: var(--cd-back-to-top-margin);
   display: inline-block;
   height: 40px;
   height: var(--cd-back-to-top-size);
   width: 40px;
   width: var(--cd-back-to-top-size);
   box-shadow: 0 0 10px rgba(0,0,0,.05) !important;
   background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
   background-color: hsla(5,76%,62%,.8);
   background-color: hsla(var(--cd-color-3-h),var(--cd-color-3-s),var(--cd-color-3-l),0.8);
  }


  h1 {
    text-align: left;
    color: #0f4763;
    font-weight: bold;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1.5em;
    margin-left:2em;
    padding: 30px;
  }
  .fa {
   
    font-weight: bolder;
    padding: 17px;
    border-radius: 25px;
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration:solid;
    margin: 6px 7px;
    
   
  }

  .social
  {
    padding: 150px;
    margin-top: 0.9em;
    margin-bottom: 1.5rem;
    text-align: center;
    background-color: rgb(76, 74, 74);
  }

  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #E1306c;
    color: white;
  }
  .myimages {
    display: flex;
    overflow: hidden;
    height: 50vw;
    background: #333
}

.myimages img {
    max-width: 100%;
    vertical-align: middle;
    border: 2px solid white;
    box-sizing: border-box;
    transition: opacity .2s
}

.myimages:hover img {
    opacity: 0.5
}

.myimages img:hover {
    opacity: 1
}

.first-column {
    animation: var(--animation, none) 16s infinite linear
}

.first-column:hover {
    animation-play-state: paused
}

.first-column:nth-of-type(odd) {
    align-self: flex-end;
    --direction: 50%
}

@keyframes slide {
    to {
        -webkit-transform: translateY(var(--direction, -50%));
        transform: translateY(var(--direction, -50%))
    }
}

/* dark mode */

.checkbox {
  opacity: 0;
  position: absolute;
  
}

.label {
  width: 50px;
  height: 26px;
  background-color:rgb(22, 22, 22);
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  left: 80px;
  top: 15px;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}
body.dark-mode {
  background-color: #292c35;
}
body.dark-mode h1, h3 p{
  color: white;

}

body.dark-mode .navbar{
  background-color: #292c35 !important;
  color: white !important;
}

body.dark-mode .navbar a{
  color: white !important;
}
body.dark-mode .navbar a:hover{
  color: #0f4763 !important;
}

body.dark-mode .social{
  background-color: #292c35 !important;
  color: white !important;
}
body.dark-mode .social a{
  color: white !important;
}
body.dark-mode .social a:hover{
  color: #0f4763 !important;
}

body.dark-mode .info{
  background-color: white !important;
  color: #292c35 !important;
  border-radius: 10px;
  text-align: center;
}
body.dark-mode #sym div{
  color: whitesmoke !important;
  background-color: #2f3033 !important;
}

body.dark-mode #pre div{
  color: whitesmoke !important;
  background-color: #292c35 !important;
}

body.dark-mode #cont{
  background-color: #29292a !important;
  color: white !important;
}

body.dark-mode #last h3{
  color: white !important;
}